body {
  background: rgb(226, 226, 226);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
input {
  width: 200px;
  height: 60px;
  font-size: 1cm;
  margin: 10px;
  border-radius: 10px;
}
.root {
  border-color: green;
  background-color: yellow;
}
