body {
  background: rgb(255, 255, 255);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#globalAddNote {
  width: 100%;
}
#globalNotes {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
#globalFavourite {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
#globalConteiner {
  width: 100%;
}
